html, body{
    padding:0px;
    margin:0px;

}
.header{
    height:60px;
    line-height:60px;
    padding:20px;
    background-color:darkmagenta;
    display:flex;
    justify-content:space-between;
}
h1{
    margin:0px;
   
}
ul{
    list-style:none;
    margin:0px;
    padding:0px;
    display:flex;
   
}
ul li a{
    color:black;
    text-decoration:none;
    margin:0px 20px 0px 0px;
}

.content{
    width:70%;
    background-color:lightgrey;
    min-height:500px;
}
.sidebar{
    width:30%;
    background-color:darkgray;
    color:white;
    min-height:500px;
    
}
.wrapper{
    display:flex;
}
p{
    margin:20px;
}

.blog-post{
    margin:10px;
    background-color:white;
    padding:10px;
    border-radius:5px;
    border:1px solid darkgray;
}

img{
    float:left;
    margin:0px 10px 10px 0px;
}